.dots {
  display: flex;
  padding-top: 5px;
  height: 100%;
  width: fit-content;
}
.dots:hover {
  cursor: pointer;
}
.dots:hover > div {
  background: #bebebe;
}
.dots > div {
  width: 4px;
  height: 4px;
  margin-right: 2px;
  border-radius: 50%;
  border: 2px solid #bebebe;
}

.menu-wrapper {
  display: inline;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 5px;
  font-size: 1.5rem;
}
.menu li {
  padding: 3px 0;
}
.menu li span:hover {
  color: #dcdcdc;
  cursor: pointer;
}

.settings {
  padding: 15px;
  font-size: 1.3rem;
}
.settings h4 {
  background: #ecedec;
  margin: 0 -15px 10px -15px;
}
.settings ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flow-root;
  font-size: 1.2rem;
}
.settings li {
  margin-bottom: 12px;
}
.settings li span:first-child {
  float: left;
}
.settings li span:last-child {
  float: right;
}

.top-scorers {
  padding: 15px;
  text-align: left;
}
.top-scorers ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.top-scorers li:hover {
  color: #63bb57;
  cursor: default;
}

.username {
  padding: 30px;
}
.username input {
  width: calc(100% - 20px);
  height: 40px;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
