table.board {
  height: calc(100% - 50px); /* 50px goes to header */
  width: 100%;
  background: #f5f2f1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.board td {
  border: 1px solid #e9ece8;
}
.board td > div {
  width: 96%;
  height: 96%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  position: relative;
}
.board td > div > span {
  width: 100%;
  height: 100%;
  display: block;
}
.board td.snake > div {
  background: #bdbebd;
}
.board td.snake.head > div {
  background-image: url("../../assets/snake_head.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.board td.snake.head.left > div {
  transform: rotate(180deg);
}
.board td.snake.head.up > div {
  transform: rotate(270deg);
}
.board td.snake.head.down > div {
  transform: rotate(90deg);
}
.board td.snake > div > span {
  width: 60%;
  height: 60%;
  margin: auto;
  border-radius: 50%;
}
.board td.food > div > span {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.board .red span {
  background: red;
}
.board .green span {
  background: green;
}
.board .blue span {
  background: blue;
}
.board .gold span {
  background: gold;
}
.board .black span {
  background: black;
}
.board .orange span {
  background: orange;
}
