.game {
  /* display: block;
  width: 100vw;
  height: 100vh; */
  background: grey;
}
.main {
  background-color: #2980b9;
  margin: auto;
}
.header {
  display: flex;
  padding: 0px 10px;
  height: 25px;
  background: black;
  color: white;
}
.header .right {
  width: 100%;
  text-align: right;
}
.header .center {
  width: 100%;
  text-align: center;
}
.header .left {
  width: 100%;
  text-align: left;
}

table {
  height: calc(100% - 25px);
  width: 100%;
  box-shadow: inset 0 0 23px 5px darkslategrey;
  background: darkolivegreen;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
td > span {
  width: 100%;
  height: 100%;
  display: block;
}
td.snake {
  background: grey;
}
td.snake.head {
  background-image: url("./assets/snake_head.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
td.snake.head > span {
  box-shadow: none;
}
td.snake.head.left {
  transform: rotate(180deg);
}
td.snake.head.up {
  transform: rotate(270deg);
}
td.snake.head.down {
  transform: rotate(90deg);
}
td.snake > span {
  width: 60%;
  height: 60%;
  margin-top: 0%;
  border-radius: 50%;
  margin-left: 20%;
  box-shadow: inset 2px 1px 3px 0px #303030;
}
td.food {
  /* border: 1px solid #dfdfdf; */
}
td.food > span {
  border-radius: 50%;
  box-shadow: inset 2px 1px 6px 0px black;
}
.red > span {
  background: red;
}
.green > span {
  background: green;
}
.blue > span {
  background: blue;
}
.gold > span {
  background: gold;
}
.black > span {
  background: black;
}
.orange > span {
  background: orange;
}

.navpad {
  display: none;
  overflow: hidden;
  margin: auto;
}
.navpad .inner {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  height: 86%;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(45deg);
  box-shadow: 0 0 10px 0px black;
  border: 1px solid #505050;
}
.navpad .inner > button {
  float: left;
  background: #4c4c4c;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
  /* box-shadow: 0 0 0px 2px #5f5f5f; */
}
.navpad .inner > button:focus,
.navpad .inner > button:hover {
  background: #404040;
  outline: none;
}
.navpad .inner > button > span {
  width: 15%;
  height: 15%;
  position: absolute;
}
.navpad .inner > button.up > span {
  border-left: 1px solid #2f2f2f;
  border-top: 1px solid #2f2f2f;
  bottom: 40%;
  right: 40%;
}
.navpad .inner > button.down > span {
  border-right: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  bottom: 40%;
  right: 40%;
}
.navpad .inner > button.left > span {
  border-left: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  bottom: 40%;
  right: 40%;
}
.navpad .inner > button.right > span {
  border-right: 1px solid #2f2f2f;
  border-top: 1px solid #2f2f2f;
  bottom: 40%;
  right: 40%;
}

/*** Mobile ***/
@media only screen and (max-width: 540px) {
  .navpad {
    display: block;
  }
}
