.game {
  display: flex;
}
.header {
  display: block;
}
table {
  box-shadow: inset 0 0 23px 5px darkslategrey;
  background: darkolivegreen;
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
td {
  border: none;
  width: 40px;
  height: 40px;
}
td > span {
  width: 100%;
  height: 100%;
  display: block;
}
td.snake {
  background: grey;
}
td.snake.head {
  background-image: url("./assets/head.png");
  background-size: cover;
  background-repeat: no-repeat;
}
td.snake.head.left {
  transform: rotate(180deg);
}
td.snake.head.top {
  transform: rotate(270deg);
}
td.snake.head.bottom {
  transform: rotate(90deg);
}
td.snake > span {
  width: 60%;
  height: 60%;
  margin-top: 0%;
  border-radius: 50%;
  margin-left: 20%;
}
td.food {
  /* border: 1px solid #dfdfdf; */
}
td.food > span {
  border-radius: 50%;
}
.red > span {
  background: red;
}
.green > span {
  background: green;
}
.blue > span {
  background: blue;
}
.gold > span {
  background: gold;
}
.black > span {
  background: black;
}
.orange > span {
  background: orange;
}
